{% extends 'layouts/base.html' %}
{% block content %}
<div class="container">
<h1 class="text-center">Upload a file</h1>
    <form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<a href="{% url 'read_file' %}" class="btn btn-dark" style="margin-top:5%;">See all uploaded files</a>
</div>
    
{% endblock content %}