{% extends 'layouts/base.html' %}

{% block content %}
<h1 class="text-center">File user has uploaded</h1>
<div class="container">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">File Name</th>
      <th scope="col">Uploaded at</th>
      <th scope="col">See Files</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>

{% for file in files %}
<tr>
    <th scope="row">{{forloop.counter}}</th>
    <th>{{file.name}}</th>

    <th>{{file.uploaded_at}}</th>
    <th><a href="{{file.document.url}}">{{file.name}}</a></th>
    <th><a href="{{file.document.url}}" download>Download document</a></th>
</tr>
{% endfor %}
</tbody>
</table>
<a href="{% url 'index' %}" class="btn btn-dark" style="margin-top:5%;">Upload more file</a>
</div>
{% endblock %}